

/* BOX-1 ID selector */
#box-1{
  /* excercise one */
  width:200px;

 /* excercise two */
  margin:20px auto;

  /* excercise three */
  padding:20px;

  /* excercise four */
  border:solid 2px red;


  /* Extra Excercises */
  text-align: center; 

}