@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/line-numbers/prism-line-numbers.min.css");

:root{
  --bg-main: #ffd73a;
  --bg-white: #fff;
  --bg-gray: #f4f4f4;
  --bg-gold-dark:#d3ab22;
  --bg-blk:#222;
  --bdr-blk: #222;
  --bdr-gray: #f1f1f1;
  --color-red:#B42025;
  --txt-blk: #111;
}


html.frame{
  height:100%;
  border-top:solid 20px var(--bdr-blk);
  /* border-bottom:solid 20px var(--bdr-blk); */
}

body {  
  background:var(--bg-main);
  counter-reset: list-item;
}
.home-link{
  position:fixed;
  top:40px;
  left:40px;
  padding:.5rem 1rem;
  border-radius: 5px;
  font-size:12px;
  font-weight: bold;
  text-transform: uppercase;
  background:var(--txt-blk);
  color:var(--bg-white);
  transition: all ease-in-out .2s;
}
.home-link:hover{

  background:var(--bg-gold-dark);
  color:var(--txt-blk);
}
.link-list{
  position:fixed;
  top:100px;
  left:40px;
}
.link-list a{
  display:block;
  margin:0;
  padding:.25rem 0;
  text-transform: uppercase;
  color:var(--bg-blk);
}
.link-list p {
  margin:0;
  padding:.15rem 0;
  font-size:12px;
  font-weight:bolder;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  text-decoration: underline;
  /* background:black;
  color:white */
}

.content{
  margin:4rem auto 6rem;
}
.logo-sm{
  max-width:300px;
}

.lead{
  max-width: 400px;
  margin:0 auto;
  padding:.5rem 0;
  font-size:13px;
  transform: skewX(-5deg);
  background:var(--bg-blk);
  color:white;
  transition: all ease-in-out .2s;
}
.lead:hover{
  transform:scale(1.1) skewX(7deg);
  background:var(--bg-gold-dark);
}
.lead:hover a {
  color:var(--txt-blk);
}
.lead a {
  font-weight: bold;
  color:white;
}

.lead a:hover{
  text-decoration: underline;
}

/* LIST STYLES */
.list{
  position: relative;
  max-width:600px;
  margin:3rem auto 0;
  padding:0;
  border-radius:3px;
  list-style:none;

  /* overflow: hidden; */
  /* box-shadow: 
  0px 3px 3px rgba(0,0,0,0.2),
  0px 0px 2px 9px rgba(0,0,0,0.12); */
}
.list:before{
  z-index: 10;
  position:absolute;
  left:-77px;
  top:35px;
  content: 'sessions';
  display:block;
  padding:.5rem 1rem;
  transform: rotate(-90deg);
  text-transform: uppercase;
  letter-spacing: 1px;
  background:black;
  color:white;
}
.list.no-label:before{
  display:none;
}
.list.full-link li a{
  display:block;
  width:100%;
}
.list label{
  display:inline-block;
  max-width:200px;
  margin:.5rem 0 .5rem;
  padding:.5rem 1rem;
  border-radius: 3px;
  font-style: italic;
  background:var(--bg-blk);
  color:white;
}
.list li {
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:1.5rem 2rem 1.5rem 5rem;
  border-bottom:solid 1px #333;
  font-weight: bold;
  counter-increment: list-item;
  overflow: hidden;
  background:var(--bg-blk);
  color:white;
  transition: all .3s ease-in-out;

}
.list li:hover{
  background:white;
  color:var(--txt-blk);
}
.list li:hover a {
  /* padding-left:3rem; */
  color:var(--txt-blk);
}
.list li:hover a:before{
  background:var(--txt-blk);
  color:var(--bg-main);
}
.list li:last-child{
  border-bottom: none;
}
.list li a {
  display:inline-block;
  padding:0 .75rem;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  transition: all ease-in-out .2s;
}
.list li a:only-child{
  padding-right:0;
}
.list li a:nth-child(even){
  padding-right:0;
  border-left:solid 1px var(--bg-gold-dark);
}
.list li a:hover{
  text-decoration: underline;
}
.list li a:before{
  content:counter(list-item);
  position:absolute; 
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items: center;
  min-width:55px;
  height:101%;
  text-align: center;
  line-height: 2.5;  
  background:var(--txt-blk);
  color:var(--bg-main);
}
