html {
  /* font-size:10px; */
  /* setting the root font size to be a multiple of 10 */
}
body{

  /* font-style: normal italic oblique; */
  /* font-weight: normal; */
  /* font-variant: small-caps; */
  /* font-size:100%; */
  /* font:normal normal normal 100%/1  'arial'; */
  line-height: 1;
  /* color:blue; */
}

.container {
  max-width: 800px;
  margin:4rem auto;
  padding:2rem;
  border:solid 1px #cecece;
  clear:both;
}

.headline{
  font-size:4rem;
  /* font-family: sans-serif; */
  padding:10px 0;
  /* text-decoration:overline; */
  /* text-decoration: underline; */
  /* text-decoration: line-through; */
  /* text-decoration: line-through overline underline; */
  text-transform: uppercase;
  /* text-transform: capitalize; */

  /* text-align: center; */

}
p {
  font-family: "arial", "serif" ;
  /* line-height: 1; */
}
p::first-letter{

}

blockquote{
  padding:20px;
  border-left:solid 5px black;
}

.creators{

}
.author{

}

.composer{

}